# Database
DATABASE_URL="postgresql://neondb_owner:npg_CSo6cDetVXH5@ep-blue-moon-a1rcqie0-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# API
NEXT_PUBLIC_API_URL=https://your-api-domain.vercel.app
JWT_SECRET="N8m$T!Qe@X6fR2#JxY0pK9aB&LZP1C^rW4S5HkG7dUVMcE3qF"

# Optional
NODE_ENV=production