PORT=5000
DATABASE_URL="postgresql://neondb_owner:npg_CSo6cDetVXH5@ep-blue-moon-a1rcqie0-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="N8m$T!Qe@X6fR2#JxY0pK9aB&LZP1C^rW4S5HkG7dUVMcE3qF"


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=sgwebwork2025@gmail.com
SMTP_PASS=fciv xilo gizv ukew
SMTP_FROM=sgwebwork2025@gmail.com
MARKETING_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=https://your-api-domain.vercel.app

BANK_NAME=BDO Unibank
BANK_ACCOUNT_NAME=Segovia Development Corporation
BANK_ACCOUNT_NUMBER=1234567890

NODE_ENV=production

